html {
    margin: 0;
    padding: 0;  
}

body {
    background-color: #FFFAF8;
    color: #3C1300;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    font-size: 18px; 
}

.content {
    margin: auto;
    max-width: 1024px;
}

h1 {
    font-size: 200px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    color: #FF8854;
    text-align: center;
}

h2 {
    font-size: 47px;
    font-family: 'BioRhyme', serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: center;
}

h3 {
    font-size: 22px;
    font-weight: 700;
}

ul {
    font-size: 18px;
    font-weight: 400;
}

p {
    font-weight: 400;
}

footer {
    font-weight: 500;
}

article {
    border-radius: 25px;
    border: 1px solid #3C1300;
    padding: 20px;
    margin: 20px;
}

#form {
    border-radius: 25px;
    border: 1px solid #3C1300;
    margin: 20px;
}

footer {
    background-color: #FF8854;
    color: #FFFAF8;
    text-align: center;
    padding: 24px;
}

#column-1 {
    width: 50%;
    display: inline-block;
}

#column-2 {
    width: 50%;
    float: right;
}

.field {
    padding: 8px 20px;
}

label {
    font-weight: 700;
    display: block;
    margin: 8px 0;
}

input {
    width: 100%;
    border-color: #3C1300;
    border-width: 1px;
    border-radius: 8px;
    height: 35px;
}

#form-column-1 {
    width: 50%;
    display: inline-block;
}

#form-column-2 {
    width: 50%;
    float: right;
}

/* 
Text: #3C1300
Primary: #FF8854
Background: #FFFAF8
Secondary: #FFC4AA
*/