:root {
    --text-color: #3C1300;
    --primary-color: #FF8854;
    --background-color: #FFFAF8;
    --secondary-color: #FFC4AA;
}

::selection {
    background: var(--secondary-color);
}


html {
    margin: 0;
    padding: 0;  
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    font-size: 1.3em;
}

.content {
    margin: auto;
    max-width: 1024px;
}

h1 {
    font-size: 8em;
    font-weight: 900;
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    text-align: center;
    text-shadow: -4px 4px 0px #E14400;
}

h2 {
    font-size: 2.5em;
    font-family: 'BioRhyme', serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: center;
}

h3 {
    font-weight: 700;
}

ul {
    font-size: 1em;
    font-weight: 400;
}

p {
    font-weight: 400;
}

footer {
    font-weight: 500;
}

article {
    border-radius: 25px;
    border: 1px solid var(--text-color);
    padding: 20px;
    margin: 20px;
}

#form {
    border-radius: 25px;
    border: 1px solid var(--text-color);
    margin: 20px;
}

footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    text-align: center;
    padding: 24px;
}

#column-1 {
    width: 50%;
    display: inline-block;
}

#column-2 {
    width: 50%;
    float: right;
}

.field {
    padding: 8px 20px;
}

label {
    font-weight: 700;
    display: block;
    margin: 8px 0;
}

input {
    width: 100%;
    border-color: var(--text-color);
    border-width: 1px;
    border-radius: 8px;
    background-color: var(--background-color);
    height: 35px;
}

#form-column-1 {
    width: 50%;
    display: inline-block;
}

#form-column-2 {
    width: 50%;
    float: right;
}

.styled {
    font-family: 'BioRhyme', serif;
    border: 0;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    color: var(--background-color);
    background-color: var(--text-color);
    border-radius: 25px;
    max-width: 300px;
    height: 50px;
    margin: 18px auto;
    display: block;
}

.styled:hover {
    cursor: pointer;
}